<!DOCTYPE html>

<html>
	<head>
		<title>Geoportal Madrid</title>
		<meta charset="UTF-8">
		<link rel="shortcut icon" href="http://cartodb.com/assets/favicon.ico" />
	    <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css" />
	<style>
		html, body, #map{
			height: 100%;
			padding: 0%;
			margin: 0%;
		}
		#map {
			height: 100%;
			padding: 0%;
			margin-left: 25%;
		}
		#dashboard {
			height: 0%;
			padding: 0%;
			margin-right: 0%;
			border-right: 2px solid #333;
		}
		#dash {
			margin: 25px 0;
			width: 400px;
		}
	</style>

	</head>

	<body>
		<div id="dashboard">
        	<h3 class="Title Title--xs">Welcome to Madrid's Geoportal!</h3>
        	<br>
        	<button class="select"></button>
   		</div>
		<div id="map"></div>
		<script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>
   		 <%= javascript_include_tag 'maps.js' %>
	</body>

</html>