		<div id="dashboard">
        	<h3 class="Title Title--xs">Welcome to Madrid's Geoportal!</h3>
        	<br>
        	<asside class="layers">
        	<h2>Layers</h2>
        	      <ul>
        	        <li class="layer">
        	            <input type="checkbox" id="bicis" name="layer">
        	            <label for="bicis">Bicis</label>
        	        </li>
        		  </ul>

        	</asside>
   		</div>
		<script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>
   		 <%= javascript_include_tag 'maps' %>
